<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>StartSession</servlet-name>
        <servlet-class>za.az.tut.wed.StartSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>name</servlet-name>
        <servlet-class>za.ac.tut.wed.name</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>nameSarvlet</servlet-name>
        <servlet-class>za.az.tut.wed.nameSarvlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>comparewordSavlet</servlet-name>
        <servlet-class>za.az.tut.wed.comparewordSavlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSession</servlet-name>
        <servlet-class>za.az.tut.wed.EndSession</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Summary</servlet-name>
        <servlet-class>za.az.tut.wed.Summary</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SummaryServlet</servlet-name>
        <servlet-class>za.az.tut.wed.SummaryServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EndSessionServlet</servlet-name>
        <servlet-class>za.az.tut.wed.EndSessionServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StartSession</servlet-name>
        <url-pattern>/StartSession.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>name</servlet-name>
        <url-pattern>/name</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>nameSarvlet</servlet-name>
        <url-pattern>/nameSarvlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>comparewordSavlet</servlet-name>
        <url-pattern>/comparewordSavlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSession</servlet-name>
        <url-pattern>/EndSession</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Summary</servlet-name>
        <url-pattern>/Summary.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SummaryServlet</servlet-name>
        <url-pattern>/SummaryServlet.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EndSessionServlet</servlet-name>
        <url-pattern>/EndSessionServlet.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
